.App {
  text-align: center;
}

.colors {
  color: rgb(202, 240, 248);
  background-color: rgb(3, 4, 94);
  color: rgb(0, 119, 182);
  color: rgb(0, 180, 216);
  color: rgb(144, 224, 239);
}

.colors2 {
  color: #f1faee;
  color: #a8dadc;
  color: #457b9d;
  color: #1d3557;
  color: #e63946;
}
