.App {
  text-align: center;
}

.colors {
  color: rgb(202, 240, 248);
  background-color: rgb(3, 4, 94);
  color: rgb(0, 119, 182);
  color: rgb(0, 180, 216);
  color: rgb(144, 224, 239);
}

.colors2 {
  color: rgb(241, 250, 238);
  color: rgb(168, 218, 220);
  color: rgb(69, 123, 157);
  color: rgb(29, 53, 87);
  color: rgb(230, 57, 70);
}
