@font-face {
  font-family: "Stencil";
  src: local("Stencil"),
    url(../fonts/BigShouldersStencilText-VariableFont_wght.ttf)
      format("truetype");
}
@font-face {
  font-family: "Vollkorn";
  src: url(../fonts/Vollkorn-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Cinzel";
  src: url(../fonts/Cinzel-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Faustina";
  src: url(../fonts/Faustina-VariableFont_wght.ttf) format("truetype");
}
body {
  min-width: 900px;
}
.App {
  text-align: center;
}

.colors {
  color: rgb(202, 240, 248);
  background-color: rgb(3, 4, 94);
  color: rgb(0, 119, 182);
  color: rgb(0, 180, 216);
  color: rgb(144, 224, 239);
}

.colors2 {
  color: rgb(241, 250, 238);
  color: rgb(168, 218, 220);
  color: rgb(69, 123, 157);
  color: rgb(29, 53, 87);
  color: rgb(230, 57, 70);
}
