.header {
    width: 100vw;
    color: rgb(202, 240, 248);
    background-color: rgb(3, 4, 94);
}
.headerTitle {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0;
}