.personal-title,
.work-title,
.education-title {
    text-align: start;
    text-transform: uppercase;
    margin-left: 44px;
    padding-top: 5px;
}
input {
    width: 400px;
    padding: 4px 10px;
    border: 2px solid slategray;
    border-radius: 5px;
    margin: 4px 0;
}
input[type="textarea"] {
    height: 40px;
}