.personal-title {
    text-align: start;
    text-transform: uppercase;
    margin-left: 44px;
    padding-top: 5px;
}
input,
textarea {
    width: 400px;
    padding: 4px 10px;
    border: 2px solid slategray;
    border-radius: 5px;
    margin: 4px 0;
}
textarea {
    height: 65px;
    font-family: inherit;
    font-size: 12px;
    resize: none;
}