.previewContent {
    width: 800px;
}

.preview-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 4px solid rgb(0, 180, 216);

}
.preview-name-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.preview-name {
    font-size: 48px;
    text-transform: uppercase;
}
.preview-title {
    font-size: 32px;
}
.preview-personal-container > div {
    display: flex;
    align-items: center;
}
.preview-personal-container > div > img {
    height: 20px;
}