.work-component,
.education-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-spacer {
    width: 450px;
    height: 2px;
    background-color: white;
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    align-self: center;
}
.work-title,
.education-title {
    align-self: start;
}
.work-unit,
.ed-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spacer {
    content: "";
}
.delete-unit {
    width: 300px;
    border-bottom: 2px solid slategray;
}
.delete-unit > button {
    

}
.dateContainer {
    display: flex;
    justify-content: center;
}
.dateContainer > div {
    width: 220px;
}
.dateContainer > div > input {
    width: 180px;
}